<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="../images/images/CSS/stylesheet.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Mercado Liebre | Home</title>
</head>
<body>
<header class="header">
    <div class="navbar">
    <div class="logo">
        <img src = "/images/images/logo-mercado-liebre.svg" alt = "Logo ML">        
    </div>
    <div class="barra-busqueda">
        <input class="buscar" type="search" placeholder="Buscar productos, marcas, ...">
        <button class="search-button"><i class="fas fa-search"></i></button>
    </div>
    <div class="msj-encabezado">
        <i class="fas fa-hand-holding-usd"></i>
        <p class="msj-cuotas">
            Comprá en cuotas y sin tarjeta de crédito
        </p>
    </div>
    </div>
    <div class="menu">
        <div class="links-uno">
            <a href="">Ofertas</a>
            <a href="">Tiendas oficiales</a>
            <a href="">Vender</a>
            <a href="">Ayuda</a>
        </div>

        <div class="links-dos">
            <a href="register">Creá tu cuenta</a><i class="far fa-id-card"></i>
            <a href="login">Ingresá</a><i class="fas fa-sign-in-alt"></i>
            <a href="">Mis compras</a><i class="fas fa-shopping-basket"></i>
        </div>
    </div>
    <div>
        <button class="menu-button"><i class="fas fa-bars"></i></button>
    </div>
</header>

<main>

    <section>
    <div class="banner">
        <img src = "/images/images/img-home-banner.jpg" alt = "banner">
    </div>
    </section>
    
    <section class="container-ult-visita">
        <h2 class="titulos-h2">Basado en tu última visita</h2>
        <div class="productos">
        <article class="articulo">
            <img class="image" src = "/images/images/img-cafetera-moulinex.jpg" alt = "cafetera">
            <i class="fas fa-truck"></i><br>
            <div class="precio-desc">
            <p class="precio">$6.770</p>
            <p class="descuento">40% OFF</p>
            </div>
            <h5 class="titulos-h5">Cafetera Moulinex Dolce Gusto</h5>
        </article>

        <article class="articulo">
            <img class="image" src = "/images/images/img-macbook-pro-2019.jpg" alt = "Macbook">
            <i class="fas fa-truck"></i>
            <div class="precio-desc">
            <p class="precio">$230.000</p>
            <p class="descuento">20% OFF</p>
            </div>
            <h5 class="titulos-h5">Macbook Pro 2019</h5>
        </article>

        <article class="articulo">
            <img class="image" src = "/images/images/img-samsung-galaxy-s10.jpg" alt = "celular Samsung">
            <i class="fas fa-truck"></i>
            <div class="precio-desc">
            <p class="precio">$70.500</p>
            <p class="descuento">15% OFF</p>
            </div>
            <h5 class="titulos-h5">Teléfono móvil Samsung Galaxy S10</h5>
        </article>

        <article class="articulo">
            <img class="image" src = "/images/images/img-tv-samsung-smart.jpg" alt = "SmartTv Samsung">
            <i class="fas fa-truck"></i>
            <div class="precio-desc">
            <p class="precio">$34.000</p>
            <p class="descuento">5% OFF</p>
            </div>
            <h5 class="titulos-h5">SmartTv Samsung 43" </h5>
        </article>
    </div>
    </section>

    <section class="container-ofertas">
        <h2 class="titulos-h2">Ofertas</h2>
        <div class="productos">
        <article class="articulo">
            <img class="image" src = "/images/images/img-cafetera-moulinex.jpg" alt = "cafetera">
            <i class="fas fa-truck"></i>
            <div class="precio-desc">
            <p class="precio">$6.770</p>
            <p class="descuento">40% OFF</p>
            </div>
            <h5 class="titulos-h5">Cafetera Moulinex Dolce Gusto</h5>
        </article>

        <article class="articulo">
            <img class="image" src = "/images/images/img-macbook-pro-2019.jpg" alt = "Macbook">
            <i class="fas fa-truck"></i>
            <div class="precio-desc">
            <p class="precio">$230.000</p>
            <p class="descuento"> 20% OFF</p>
            </div>
            <h5 class="titulos-h5">Macbook Pro 2019</h5>
        </article>

        <article class="articulo">
            <img class="image" src = "/images/images/img-samsung-galaxy-s10.jpg" alt = "celular Samsung">
            <i class="fas fa-truck"></i>
            <div class="precio-desc">
            <p class="precio">$70.500</p>
            <p class="descuento">15% OFF</p>
            </div>
            <h5 class="titulos-h5">Teléfono móvil Samsung Galaxy S10</h5>
        </article>

        <article class="articulo">
            <img class="image" src = "/images/images/img-tv-samsung-smart.jpg" alt = "SmartTv Samsung">
            <i class="fas fa-truck"></i><br>
            <div class="precio-desc">
            <p class="precio">$34.000</p>
            <p class="descuento">5% OFF</p>
            </div>
            <h5 class="titulos-h5">SmartTv Samsung 43"</h5>
        </article>
    </div>
    </section>

</main>

<footer class="footer">
    <div class="msjs-footer">
    <article class="articulo-footer">
        <i class="icono fas fa-credit-card"></i>
        <h4 class="titulos-h4">Pagá con tarjeta o en efectivo</h4>
        <p class="texto-footer">Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </article>
    <article class="articulo-footer">
        <i class="icono fas fa-gift"></i>
        <h4 class="titulos-h4">Envío gratis desde los $2500</h4>
        <p class="texto-footer">Sólo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de MercadoPuntos</p>
    </article>
    <article class="articulo-footer">
        <i class="icono fas fa-user-shield"></i>
        <h4 class="titulos-h4">Seguridad de principio a fin</h4>
        <p class="texto-footer">¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@</p>
    </article>
    </div>
    <div>
        <h6 class="copyright">Copyright © 1999-2019 MercadoLiebre S.R.L</h6>
    </div>
</footer>

</body>
</html>