<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="../images/images/CSS/stylesheet.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>ML | Ingreso</title>
</head>
<body>
    <header class="header">
        <div class="navbar">
        <div class="logo">
            <img src = "/images/images/logo-mercado-liebre.svg" alt = "Logo ML">        
        </div>
        <div class="barra-busqueda">
            <input class="buscar" type="search" placeholder="Buscar productos, marcas, ...">
            <button class="search-button"><i class="fas fa-search"></i></button>
        </div>
        <div class="msj-encabezado">
            <i class="fas fa-hand-holding-usd"></i>
            <p class="msj-cuotas">
                Comprá en cuotas y sin tarjeta de crédito
            </p>
        </div>
        </div>
        <div class="menu">
            <div class="links-uno">
                <a href="">Ofertas</a>
                <a href="">Tiendas oficiales</a>
                <a href="">Vender</a>
                <a href="">Ayuda</a>
            </div>
    
            <div class="links-dos">
                <a href="register">Creá tu cuenta</a><i class="far fa-id-card"></i>
                <a href="login">Ingresá</a><i class="fas fa-sign-in-alt"></i>
                <a href="">Mis compras</a><i class="fas fa-shopping-basket"></i>
            </div>
        </div>
        <div>
            <button class="menu-button"><i class="fas fa-bars"></i></button>
        </div>
    </header>
<main>
    <form action="index.html" method="POST">
        <div class="formulario">
            <h2>¡Ingresá con tu cuenta!</h2><br>
            <label for="usuario">Nombre de usuari@ o e-mail</label><br>
            <input class="input" type="text" id="usuario" name="Nombre de usuari@" placeholder="Nombre de usuari@ o e-mail"><br><br>

            <label for="Contraseña">Contraseña</label><br>
            <input class="input" type="password" id="Contraseña" name="Contraseña" placeholder="Contraseña"><br><br>

            <button class="ingresar-button" type="submit">Ingresar</button>
        </div>
    </form>  
</main>
<footer class="footer">
    <div class="msjs-footer">
    <article class="articulo-footer">
        <i class="icono fas fa-credit-card"></i>
        <h4 class="titulos-h4">Pagá con tarjeta o en efectivo</h4>
        <p class="texto-footer">Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </article>
    <article class="articulo-footer">
        <i class="icono fas fa-gift"></i>
        <h4 class="titulos-h4">Envío gratis desde los $2500</h4>
        <p class="texto-footer">Sólo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de MercadoPuntos</p>
    </article>
    <article class="articulo-footer">
        <i class="icono fas fa-user-shield"></i>
        <h4 class="titulos-h4">Seguridad de principio a fin</h4>
        <p class="texto-footer">¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@</p>
    </article>
    </div>
    <div>
        <h6 class="copyright">Copyright © 1999-2019 MercadoLiebre S.R.L</h6>
    </div>
</footer>
</body>
</html>