<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="../images/images/CSS/stylesheet.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>ML | Newsletter</title>
</head>
<body>
    <div>
        <img src = "/images/images/logo-mercado-liebre.svg" alt = "Logo ML">        
    </div>
    <div><h1>Lorem ipsum dolor sit amet consectetuer</h1></div>
    <br><br>
    <div><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,  sed diam nonummy nibh euismod tincidunt ut laoreet  dolore magna aliquam erat volutpat. Ut wisi enim ad minim  veniam, quis nostrud exerci tation ullamcorper suscipit lob ortis nisl ut aliquip ex ea commodo consequat</p></div>
    <br><br>
    <div><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,  sed diam nonummy nibh euismod tincidunt ut laoreet  dolore magna aliquam erat volutpat. Ut wisi enim ad minim  veniam, quis nostrud exerci tation ullamcorper suscipit lob ortis nisl ut aliquip ex ea commodo consequat</p></div>    
    <br>
    <hr>
    <br>
    <h3>LOREM IPSUM DOLOR</h3>
    <br>
    <div>
        <img src = "/images/images/banner_newsletter.png" alt = "banner ML">        
    </div>
    <br>
    <h2>Lorem ipsum dolor sit amet consectetuer</h2>
    <br>
    <a href="">Lorem ipsum dolor -></a>
    <br>
    <hr>
    <br>
    <h3>LOREM IPSUM DOLOR</h3>
    <br>
    <h2>Lorem ipsum dolor sit amet consectetuer</h2>
    <br>
    <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit,  sed diam nonummy nibh euismod tincidunt ut laoreet  dolore magna aliquam erat volutpat. Ut wisi enim ad minim  veniam, quis nostrud exerci tation ullamcorper suscipit lob ortis nisl ut aliquip ex ea commodo consequat.</p>
    <br>
    <hr>
    <br>
    <ul>
        <li><a href="https://www.instagram.com/">Instagram</a></li>
        <li><a href="https://twitter.com/">Twitter</a></li>
        <li><a href="https://www.facebook.com/">Facebook</a></li>
        <li><a href="https://github.com/">Github</a></li>
    </ul>
    <br>
    <h4>
        Saludos
        <br>
        Ale y Uri
    </h4>

</body>
</html>